<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84548975071-cp7nq6dc27qa64qea2h9mcm0nlrgcj83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84548975071-cp7nq6dc27qa64qea2h9mcm0nlrgcj83</string>
	<key>API_KEY</key>
	<string>AIzaSyCL2NXbAX-yteBrci3N6cH_Rn6HotrFPPk</string>
	<key>GCM_SENDER_ID</key>
	<string>84548975071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanja.garage</string>
	<key>PROJECT_ID</key>
	<string>garage-6a15a</string>
	<key>STORAGE_BUCKET</key>
	<string>garage-6a15a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84548975071:ios:ae85420b335833e3182c6a</string>
</dict>
</plist>